---
import { proyects } from '@/data/proyects'
import { SquareArrowUpRight } from '@lucide/astro';
---

<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
  {proyects.map((item) => (
    <div class="group relative w-full max-w-[350px] h-full bg-[#1e293b] rounded-2xl border border-white/10 overflow-hidden transition-all duration-300 hover:-translate-y-2 hover:border-[#38bdf8]/50 hover:shadow-2xl hover:shadow-sky-500/10 cursor-pointer flex flex-col">
      
      <!-- Image Area -->
      <div class="relative h-44 w-full bg-gradient-to-br from-[#1e293b] to-[#0f172a] flex items-center justify-center overflow-hidden shrink-0">
        <img src={item.img} alt="" class="object-cover w-full h-full" />
        <div class="absolute inset-0 bg-[#38bdf8]/5 opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
      </div>
      
      <!-- Content Area -->
      <div class="p-5 flex flex-col flex-1">
        
        <div class="flex justify-between items-center mb-2">
          <h3 class="text-[#f8fafc] text-xl font-semibold tracking-tight">
            {item.name}
          </h3>
          <a href={item.link} target="_blank" > 
            <SquareArrowUpRight  size={25} class="text-slate-400 hover:text-slate-500"/>
           
        </a>
        </div>

        <!-- Descripción con altura controlada -->
        <p class="text-[#94a3b8] text-sm leading-relaxed mb-4 line-clamp-3">
          {item.description}
        </p>

        <!-- Tags siempre abajo -->
        <div class="flex flex-wrap gap-2 mt-auto">
          {item.tecnologies.map((tecnology) => (
            <span class="px-3 py-1 rounded-full text-xs font-medium bg-[#38bdf8]/10 text-[#38bdf8] border border-[#38bdf8]/20">
              {tecnology}
            </span>
          ))}
        </div>

      </div>
    </div>
  ))}
</div>
